<% content_for(:title) do %>
  Photo Upload
<% end %>

<h1 id="titleup" class="text-center">Pick two pictures </h1>



<div class="text-center" id="select_button">
  <a class="btn btn-lg btn-primary" id="first" data-toggle="modal" href="#facebook_photo_selector">Select Your 1st Photo</a>
  </br>
</div>


<%= form_for(@campaign, html: { id: "start_voting_button"}) do |f| %>
  <%= f.hidden_field :picture_a_id %>
  <%= f.hidden_field :picture_b_id %>
  <div class="col-md-12 text-center">
  <input name="commit" type="submit" value="Run the test, <%= current_user.first_name %>!" class="btn btn-danger btn-lg text-center" />
  </div>
<% end %>


<!-- Facebook photo selector modal -->
<div id="facebook_photo_selector" class="modal fade">
   <div class="modal-dialog">
       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Choose a photo</h4>
           </div>
           <div class="modal-body">
               <div class="form">
                   <label>Select Facebook Album:</label>
                   <select class="fbps-albums" name="facebook_photo_album"></select>
               </div>
               <hr>
               <div class="fbps-photos clearfix"></div>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-default fbps-cancel" style="background-color:white; color:#333; border-color:#333;" data-dismiss="modal">Close</button>
               <button type="button" class="btn btn-primary fbps-select" data-dismiss="modal">Select Photo</button>
           </div>
       </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

