<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

    <link rel="stylesheet" href="css/style2.css" media="screen" type="text/css" />

</head>

<body>

  <script type="text/javascript" src="http://leaverou.github.io/prefixfree/prefixfree.min.js"></script>

<section>
    <div id="action">
        <div id="keg">
            <div id="pipe-handle"></div>
            <div id="pipe"></div>
            <div id="pipe-front"></div>
        </div>

        <div class="glass">
            <div class="beer"></div>
            <div class="handle">
                <div class="top-right"></div>
                <div class="bottom-right"></div>
            </div>
            <div class="front-glass"></div>
        </div>
    </div>
</section>

<div id="hib">
  <h1>
      Comming soon!
  </h1>
</div>

</body>

</html>