

<h1> Tinder Genius </h1>



<% if user_signed_in? %>
 <%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %>
 <br/>

<% else %>
 <%= link_to "Connect with Facebook", user_omniauth_authorize_path(:facebook) %>
<% end %>

<img src="http://www.independent.ie/incoming/article30454079.ece/BINARY/Tinder-Like.png">


