<% content_for(:title) do %>
  Tinder Genius | Home
<% end %>

<div id="banner" >
  <img src="http://s22.postimg.org/9ee2xv5g1/logotinder.png" id="logo">

  <h1>Find your best side</h1>
  <p>Tinder Genius helps you pick the right picture to get more matches on tinder.</p>

  <div id="fbbut">
    <%= render 'fb_login' %>
  </div>
</div>



