<% content_for(:title) do %>
  Tinder Genius | Home
<% end %>

<div id="banner" >
  <img src="/assets/logotinder.png" id="logo">

  <h1>Find your best side</h1>

  <div id="fbbut">
    <%= render 'fb_login' %>
  </div>
</div>
