<% content_for(:title) do %>
   Home
<% end %>

<h1> Tinder Genius </h1>


<img src="http://img4.hostingpics.net/pics/222751tglogo1.jpg">

</br>

<% if user_signed_in? %>
 <%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %>
 <br/>

<% else %>
 <%= link_to "Connect with Facebook", user_omniauth_authorize_path(:facebook) %>
<% end %>




