<% content_for(:title) do %>
  Home
<% end %>

<div id="banner" >
  <img src="http://s22.postimg.org/9ee2xv5g1/logotinder.png" id="logo">

  <h1>Find your best side</h1>
  <p>Tinder Genius helps you pick the right picture to get more matches on Tinder.</p>

  <div id="fbbut">
    <%= render 'fb_login' %>
  </div>
  <div id="footer">
    <ul class="list-inline social text-center">
      <li>
        <a href="https://twitter.com/Tinder_Genius" TARGET="_blank">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://facebook.com/tindergenius" TARGET="_blank">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
    </ul>
  </div>
</div>

