<h1> <strong>There's no more pictures to vote on, <%= current_user.first_name %>!</strong> </h1>


Invite your friends to get your results faster:

<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.tindergenius.com" data-text="What picture should you use on Tinder? @Tinder_Genius gives you the answer:" data-size="large" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<iframe src="//www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.tindergenius.com&amp;layout=button&amp;appId=1397748350517057" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowTransparency="true"></iframe>