<h1 id="title-no-pic-to-vote-on"> <strong>We'll email you the results soon, <%= current_user.first_name %>.</strong> </h1>

<div class="text-center">
  <img src="http://s27.postimg.org/s9a0alr9v/Screen_Shot_2014_12_04_at_10_25_25.png" height="137" width="120"><br/><br/>
</div>

<div class="text-under-title text-center" style="font-family: Source Sans Pro">
  <p><strong style="color: white;">To accelerate the process, you can:</strong></p><br/>
</div>

<div class="container">

  <div class="row">

    <div class="col-md-4 col-xl-3">
      <div class="text-center">
        <div class="text-block">
          <img src="http://s14.postimg.org/acfu38atd/Screen_Shot_2014_12_04_at_11_07_23.png" height="200" width="200"><br/>
          <p class="text-center">1. Continue voting<br/><span style="font-size: 16px;">(the more you vote the faster you'll know)</span></p>
        </div>
        <div>
          <%= link_to next_votes_path, class: "btn btn-info btn-lg" do %>
            <i class="fa fa-bolt"></i><strong> Vote more!</strong>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-xl-3">
      <div class="text-center">
        <div class="text-block">
          <img src="http://s24.postimg.org/blnz0scb9/present.png" height="200" width="200"><br/>
            <p class="text-center">2. Bring your friends on Tinder Genius<br/><span style="font-size: 16px;">(they'll love you for life)</span></p>
        </div>
        <a href="#" onclick="window.open('http://www.facebook.com/sharer/sharer.php?u=http://tindergenius.com','test','toolbar=0, status=0, top=300, left=500, width=500, height=400');return false" class="btn btn-warning btn-lg button-text">
          <i class="fa fa-facebook-square" style="color: white"></i><strong> Share</strong>
        </a>
        <a href="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Flocalhost%3A3000%2Fcome_back_later&amp;text=What%20picture%20should%20you%20use%20on%20Tinder%3F%20%40Tinder_Genius%20gives%20you%20the%20answer%3A&amp;tw_p=tweetbutton&amp;url=http%3A%2F%2Fwww.tindergenius.com" class="btn btn-success btn-lg button-text">
          <i class="fa fa-twitter" style="color: #139ae9"></i><strong style="color: #333333"> Tweet</strong>
        </a>
      </div>
    </div>

    <div class="col-md-4 col-xl-3">
      <div class="text-center">
        <div class="text-block">
          <img src="http://s30.postimg.org/jzfhlp5c1/mojito.png" height="200" width="200"><br/>
          <p class="text-center">If you're patient, go drink a Mojito<br/><span style="font-size: 16px;">(with your Tinder match?)</span></p>
        </div>
        <a target="blank" href="https://www.google.com/maps?q=mojitos+near+<%= current_user.city.gsub(/\s/,'+').gsub(/\,/,'+') %>" class="btn btn-default btn-lg">
          <i style="color: white" class="button-text"></i><i class="fa fa-thumbs-up"></i><strong> Oh yeah!</strong>
        </a>
      </div>
    </div>

  </div>
</div>

<div class="text-center" style="font-family: Source Sans Pro; padding-top:40px;padding-bottom:20px;">
  <% if user_signed_in? %>
    <%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %>
  <% end %>
</div>


<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
