/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


/* facebook photo picker */

.thumbnail.selected {
    background-color: #428bca;
}
.loading {
    text-align: center;
}
.modal-body {
    max-height: 600px;
    overflow-y: auto;
}

#start_voting_button {
  display:none;
}

/* home */

#banner {
  text-align: center;
  background-image: url(http://gratisography.com/pictures/83_1.jpg);
  background-size: cover;
  background-position: center;
  // background-attachment: fixed;
  background-repeat: no-repeat !important;
  padding-top: 150px;
  width:100%;
}

#banner h1 {
  font-family: pacifico;
  font-size: 80px;
  color: white;
  text-shadow: 0 0 20px rgba(0, 0, 0, .8);
  margin-bottom: 250px;
}

.fb_login {
  margin-bottom: 150px;
}
