/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_self
 */


$headings-font-family: Source Sans Pro, Montserrat, Verdana;
$font-family-sans-serif: Lato, Verdana, Arial, sans-serif;
$headings-color: white;
$body-bg: #7AC6DB;
$text-color: #333333;
$btn-danger-bg: #EB664D;
$btn-primary-bg: #2E6E93;
$btn-success-bg: #e6e6e6; // Twitter share
$btn-warning-bg: #2d4386; // Facebook share
$btn-info-bg: #eb664d; // Voting
$btn-default-bg: #29c4b1; // Mojito
$btn-default-border: #1f8e7b;
$btn-default-color: white;
$progress-bar-danger-bg: #EB664D;
$progress-bar-info-bg: #2E6E93;


@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(http://fonts.googleapis.com/css?family=Lato);

h1 {
   text-align: center;
   padding-bottom: 60px;
   font-weight: bold;

}


/* facebook photo picker */

.thumbnail.selected {
    background-color: #428bca;
}
.loading {
    text-align: center;
}
.modal-body {
    max-height: 600px;
    overflow-y: auto;
}

#start_voting_button {
  display:none;
}
/* home */

#banner {
  background-image: image-url("homessc.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat !important;
  padding-top: 0px;
  width:100%;
  @media (max-width: $screen-xs-max) {
    background-image: image-url("homesm.jpg");
  }
}

#banner h1 {
  text-align: center;
  font-family: Source Sans Pro, Verdana;
  font-size: 70px;
  color: white;
  text-shadow: 0 0 20px rgba(0, 0, 0, .8);
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 10px;
  font-weight: bold;
}

#banner p {
  text-align: center;
  padding-bottom: 250px;
  color: white;
  font-size: 19px;
  text-shadow: 0 0 20px rgba(0, 0, 0, .8);
}

#banner #logo {
  text-align: left;
  height: 200px;
  width: 200px;
}

#banner #fbbut {
  text-align: center;
  position: absolute bottom;
  color: white;
  text-shadow: 0 0 20px rgba(0, 0, 0, .8);
}

#banner #invit {
  text-align: center;
  position: absolute bottom;
  color: white;
  text-shadow: 0 0 20px rgba(0, 0, 0, .8);
  padding-bottom: 15px;
}

#banner #mdp {
  text-align: center;
  position: absolute bottom;
  text-shadow: 0 0 20px rgba(0, 0, 0, .8);
}

.fb_login {
  margin-bottom: 10px;
}

#select_button {
  text-align: center;
}

#select_button #second {
  margin-top: 75px
 }

.picture-wrapper {
  background-color: white;
  max-height: 100%;
  }

  /* Pages: Vote more later, Results, Results not ready yet */

.button-text {
  color: white;
  font-size: 18px;
  margin: 3px;
}

.facebook {
  color: white;
  font-size: 20px;
}

.text-under-title {
  font-size: 20px;
}

.text-block {
  font-size: 18px;
  padding-bottom: 20px;
  font-family: Source Sans Pro;
}

.text-block img {
  margin:20px;
}

#title-no-pic-to-vote-on {
  padding-bottom: 30px;
}

.picture-results {
  border: 6px white solid;
  max-height: 300px;
}

/* Pie chart */


@mixin circle($size) {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - #{$size/2});
  top: calc(50% - #{$size/2});
  width: $size;
  height: $size;
}

$size: 200px;
.progress-pie-chart {
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: #E5E5E5;
  position: relative;
  &.gt-50 {
    background-color: #2e6e93;
  }
}
.ppc-progress {
  @include circle($size);
  clip: rect(0, $size, $size, #{$size/2});
  .ppc-progress-fill {
    @include circle($size);
    clip: rect(0, #{$size/2}, $size, 0);
    background: #2e6e93;
    transform: rotate(60deg);
  }
  .gt-50 & {
    clip: rect(0, #{$size/2}, $size, 0);
    .ppc-progress-fill {
      clip: rect(0, $size, $size, #{$size/2});
      background: #E5E5E5;
    }
  }
}
.ppc-percents {
  @include circle(#{$size/1.15});
  background: #fff;
  text-align: center;
  display: table;
  span {
    display: block;
    font-size: 3.6em;
    font-weight: bold;
    color: #2e6e93;
  }
}
.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.progress-pie-chart {
  margin: 10px auto 0;
}

#titletarget{
  padding-bottom: 0px;
}

.space {
  padding-bottom: 60px;
  text-align: center;
}

#footer .fa{
  color: white;
  font-size: 20px;
}

#footer {
  background-color: black transparent;
  padding-top: 0px;
  padding-bottom: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#prog {
    padding-bottom: 0px;
    padding-top: 125px;
  }

.text-votes {
 font-size: 18px;
 padding-bottom: 20px;
 font-family: Source Sans Pro;
}


.btn-password {
  background-color: transparent;
  color: white;
  text-shadow: 0 0 20px rgba(0, 0, 0, .8);
}

#back a{
  color: white;
  text-shadow: 0 0 20px rgba(0, 0, 0, .8);
}


@media screen and (max-width: $screen-xs) {
  #banner #logo {
    height: 100px;
    width: 100px;
    position: right;
  }

  #banner h1 {
    text-align: center;
    font-family: Source Sans Pro, Verdana;
    font-size: 30px;
    color: white;
    text-shadow: 0 0 20px rgba(0, 0, 0, .8);
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 10px;
    font-weight: bold;
  }
  #banner #fbbut {
    text-align: center;
    position: absolute bottom;
    color: white;
    text-shadow: 0 0 20px rgba(0, 0, 0, .8);
  }

  #banner p {
    text-align: center;
    padding-bottom: 45px;
    color: white;
    font-size: 15px;
    text-shadow: 0 0 20px rgba(0, 0, 0, .8);
  }

  h1 {
     font-size: 20px;
     text-align: center;
     padding-bottom: 30px;
     font-weight: bold;
  }

  #pic1 img{
    height: 220px;
    width: 220px;
    border: 3px white solid;
  }

  #pic1 {
    padding-bottom: 5px;
  }

  #pic2 img{
    height: 220px;
    width: 220px;
    border: 3px white solid;
  }

  #titleup {
    padding-bottom: 0px;
    padding-top: 0px;
  }

  #prog {
    padding-bottom: 0px;
    padding-top: 0px;
  }

  .picture-wrapper {
    height: 220px;
    width: 220px;
    padding-bottom: 5px;
  }

}
